@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
    */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #fff;
  min-height: 100vh;
  /* overflow-x: hidden; */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100000;
}
.logo {
  font-size: 2em;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
.navigation {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  color: rgb(240, 14, 14);
  padding: 1.5rem 1rem;
  border-radius: 20px;
}
.navigation li a:hover {
  background: #000;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
.claz {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.claz img {
  bottom: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
}
#text {
    position: absolute;
    top: 60%;
    transform: translateY(-100%);
    font-size: 3rem;
    color:rgb(37, 6, 6);
}
.sec {
  position: relative;
  padding: 100px;
  background: rgb(3, 3, 43);
}
.sec h2{
    font-size: 3rem;
    color:#fff;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1em;
    color:#fff;
    font-weight: 300;

}
